.todo-list {
    width: 100%;
    height: 100%;
    background-color: #333333;

    &__header {
        height: 3.6rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        background-color: #E6B905;
    }

    &__name { 
        font-size: 1.6rem;
        color: #202020;
        cursor: pointer;
    }

    &__delete {
        font-size: 1.2rem;
        margin-left: auto;
        color: #333333;
        cursor: pointer;
    }

    &__name-input {
        width: 70%;
        font-size: 1.4rem;
        border-bottom: 1px solid #333333d7;
    }

        &::placeholder {
            color: #333333d7;
        }

    &__body {
        padding: 1.5rem 2rem;
        display: grid;
        grid-auto-rows: 3rem;
        grid-auto-columns: 1fr;
        row-gap: .5rem;
    }
}

.add-issue {
    height: min-content;
    width: max-content;
    padding: .6rem 1.5rem .6rem 1rem;
    color: #eeeeee7a;
    background-color: transparent;
    border-radius: .4rem;
    transition: all .3s ;
    cursor: pointer;
    

    &:hover {
        background-color: #414141;
        color: #eeeeee;
    }

    
    &__icon {
        font-size: .8rem;
    }
    
    &__label {
        margin-left: 1rem;
        font-size: 1rem;
    }
}

.add-input {
    width: 70%;
    margin-left: 2.5rem;
    font-size: 1.2rem;
    color: #eeeeee;
    border-bottom: .5px solid #eeeeee7a;
}